First Name:{{this.udata.firstName  | uppercase}}<br>
Last Name:{{this.udata.lastName    | uppercase}}<br>

{{this.udata.firstName + '' + this.udata.lastName}}<br>

First Name:{{this.udata.firstName | lowercase}}<br>
Last Name:{{this.udata.lastName    | lowercase}}<br>
First Name &nbsp;{{this.udata.firstName + this.udata.lastName | slice:2}}<br><br>

Join Date : &nbsp;{{this.udata.dateofjoining | date}}<br><br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'fullDate'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'shortDate'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'fullTime'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'shortTime'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'medium'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'dd-M-yy'}}<br>
Join Date : &nbsp;{{this.udata.dateofjoining |date:'h:m:ss a z'}}<br>

Currency :&nbsp;{{this.udata.salary | currency}}<br>
Currency: &nbsp;{{this.udata.salary | currency:'GBP'}}<br>
<router-outlet></router-outlet>

